<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Hello World!</title>
    <script th:src="@{/dist/dist.min.js}" type="text/javascript"></script>
    <link th:href="@{/dist/dist.min.css}" rel="stylesheet"></link>
</head>

<body>

<div sec:authorize="isAnonymous()">
    Hello
</div>


<div sec:authorize="isAuthenticated()">
    Hello <span th:text ="${#authentication.principal.username}"></span>
    <form th:action="@{/logout}" method="post" >
        <input type="submit" value="Sign Out"/>
    </form>

    ROLE:
    <div sec:authorize="hasRole('ADMIN')">ADMIN</div>
    <div sec:authorize="hasRole('DEFAULT')">DEFAULT</div>
</div>
</body>
</html>